/* header */

.header {
  // background-color: ($color-2);
  color: ($color-2);
  position: relative;
  font-weight: 700;
}

.logo {
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 7rem;
  height: auto;
}

.nav {
  justify-content: space-between;
  align-items: center;

  /* font-weight: 700; */
}
.nav li {
  text-transform: uppercase;
}
.nav li:hover {
  cursor: pointer;
}
.toggle {
  display: none;
}
@include mq(nopc) {
  .header {
    // position: fixed;
    width: 100%;
    z-index: 999;
  }
  .menu-icon {
    font-size: 1.4rem;
    color: $color-2;
    font-weight: 300;
  }
  .menu-icon-close {
    padding-top: 2rem;
    padding-left: 1rem;
    color: $color-1;
  }
  .menu {
    position: relative;
    /* flex: 1 1 100%; */
    color: $color-1;
    display: none;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: ($color-2);
    /* height: 0;
    overflow: hidden; */
    right: -10rem;
    animation: slide-o 0.5s forwards;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    padding-left: 1rem;

    @include mq(omob) {
      max-width: 15rem;
    }
  }
  .menu::-webkit-scrollbar {
    opacity: 0;
    width: 0.5rem;
  }

  .menu::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .menu::-webkit-scrollbar-thumb {
    background-color: $color-1;
    opacity: 0.5;
    height: 20px;
  }

  .toggle:checked ~ .menu {
    display: flex;
    transition: all 0.2s ease-in-out;
    animation: slide 0.5s forwards;
    // animation-delay: 2s;
  }
  .menu > li {
    /* color: ($color-3); */
  }
  .menu li {
    /* width: 100%; */
    flex: 1 1 100%;
    padding: 1rem;
  }

  .sub-menu {
    /* padding-left: 1rem; */
  }
}
@include mq(opc) {
  .menu-icon {
    display: none;
  }
  .menu {
    flex-wrap: nowrap;
  }
  .menu > li {
    // transition: 0.2s;
    margin-right: 1rem;
    padding: 0.5rem;
    i {
      padding: 0 0.5rem;
      // transition: all 0.25s;
      transition: all 0.2s 0.1s;
    }
    // transition: 0.2s;
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .menu {
    position: relative;
  }
  .sub-menu {
    visibility: hidden;
    overflow: hidden;
    @include border($radius);
    font-size: 0.8rem;
    position: absolute;
    display: flex;
    width: fit-content;
    /* padding: 1rem; */
    background-color: ($color-2);
    z-index: 100;
    color: ($color-1);
    top: 3rem;
    // transition: all 0.2s ease-in-out;
    /* border-radius: 2rem; */
    transition: all 0.2s 0.1s;
  }
  .sub-menu li {
    /* margin-bottom: 1rem; */

    padding: 1rem;
  }
  .sub-menu li:hover {
    background-color: ($color-1);
    // font-size: 1.22rem;
    color: ($color-2);
    transition: all 0.2s ease-in-out;
    /* border-bottom: 1px solid ($color-2); */
  }
  .menu > li:hover .sub-menu {
    visibility: visible;
    transition: 0s;
  }
  .menu > li:hover {
    // color: $color-1;
    // background-color: $color-2;
    // outline: 3rem solid transparent;
    @include border($radius);
    i {
      transform: rotate(180deg);
    }
  }
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

@-webkit-keyframes slide-o {
  100% {
    right: -100rem;
  }
}

@keyframes slide-o {
  100% {
    right: -100rem;
  }
}
