/* header */

.header {
  // background-color: ($color-2);
  color: ($color-2);
  position: relative;
  font-weight: 700;
  .container {
    @include mq(omob) {
      padding-bottom: 0.2rem;
    }
  }
}

.logo {
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 7rem;
  height: auto;
}

.nav {
  justify-content: space-between;
  align-items: center;

  /* font-weight: 700; */
}
.nav li {
  text-transform: uppercase;
}
.nav li:hover {
  cursor: pointer;
}
.toggle {
  display: none;
}

.menu > li {
  i {
    padding: 0 0.5rem;
    transition: all 0.2s 0.1s;
  }
}
input {
  display: none;
}

@include mq(nopc) {
  .header {
    // position: fixed;
    width: 100%;
    // z-index: 999;
  }
  .menu-icon {
    font-size: 1.4rem;
    color: $color-2;
    font-weight: 300;
  }
  .menu-icon-close {
    // padding-top: 2rem;
    // padding-left: 2rem;
    color: inherit;
    // margin-bottom: 1rem;
  }
  .menu {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /* flex: 1 1 100%; */
    color: $color-2;
    display: none;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: ($color-2);
    /* height: 0;
    overflow: hidden; */
    right: -10rem;
    animation: slide-o 0.5s forwards;
    top: 0;
    z-index: 10;
    overflow-y: scroll;

    @include mq(omob) {
      max-width: 15rem;
    }
  }
  .menu-head {
    color: $color-1;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    @include mq(mob) {
      padding-right: 3rem;
    }
    padding-right: 2rem;
  }
  // .menu::-webkit-scrollbar {
  //   display: none;
  //   opacity: 0;
  //   width: 0.2rem;
  // }

  // .menu::-webkit-scrollbar-track {
  //   background-color: transparent;
  // }

  // .menu::-webkit-scrollbar-thumb {
  //   background-color: $color-1;
  //   opacity: 0.5;
  //   height: 20px;
  // }

  .toggle:checked ~ .menu {
    display: flex;
    transition: all 0.2s ease-in-out;
    animation: slide 0.5s forwards;
    // animation-delay: 2s;
  }
  .menu > li {
    /* color: ($color-3); */

    .sub-menu {
      /* padding-left: 1rem; */
      display: none;
      width: 100%;
      background-color: $color-6;
      border-bottom: 2px solid $color-2;
      li {
        display: flex;
        justify-content: stretch;
      }
    }
    span {
      padding: 1rem 0;
      // display: block;
    }
    label {
      // display: block;
      background-color: $color-1;
      width: 100%;
      font: inherit;
      color: inherit;
      padding: 0 1rem;
      // border: 2px solid $color-2;
      border-top: 2px solid $color-2;
      border-bottom: 2px solid $color-2;
    }

    input:checked ~ .sub-menu {
      display: flex;
      transition: all 0.2s ease-in-out;

      // animation-delay: 2s;
    }
    input:checked ~ label {
      background-color: $color-6;
      i {
        transform: rotate(180deg);
      }
      border-bottom: none;
    }
  }
  .menu > li {
    width: 100%;
    text-transform: capitalize;
    // font-weight: 300;
    // flex: 1 1 100%;
  }
  // .sub-menu a {
  //   width: 100%;
  //   text-transform: capitalize;
  // }

  .sub-menu > li {
    padding: 1rem;
    // border-top: 2px solid $color-2;
    // border-bottom: 2px solid $color-2;
    // border: 2px solid $color-2;
  }
  // .menu > li:hover .sub-menu {
  //   display: flex;
  // }
}

/////////
@include mq(opc) {
  .menu-head {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .menu {
    flex-wrap: nowrap;
    @include dir($r);
  }
  .menu > li {
    // transition: 0.2s;
    margin-right: 1rem;
    padding: 0.5rem;
    label {
      display: block;
    }
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .menu {
    position: relative;
  }
  .sub-menu {
    visibility: hidden;
    overflow: hidden;
    @include border($radius);
    font-size: 0.8rem;
    position: absolute;
    display: flex;
    width: fit-content;
    /* padding: 1rem; */
    background-color: ($color-2);
    z-index: 100;
    color: ($color-1);
    top: 3rem;
    // transition: all 0.2s ease-in-out;
    /* border-radius: 2rem; */
    transition: all 0.2s 0.1s;
  }
  .sub-menu li {
    /* margin-bottom: 1rem; */

    padding: 1rem;
  }
  .sub-menu li:hover {
    background-color: ($color-1);
    // font-size: 1.22rem;
    color: ($color-2);
    transition: all 0.2s ease-in-out;
    /* border-bottom: 1px solid ($color-2); */
  }
  .menu > li:hover .sub-menu {
    visibility: visible;
    transition: 0s;
  }
  .menu > li:hover {
    // color: $color-1;
    // background-color: $color-2;
    // outline: 3rem solid transparent;
    @include border($radius);
    i {
      transform: rotate(180deg);
    }
  }
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

@-webkit-keyframes slide-o {
  100% {
    right: -100rem;
  }
}

@keyframes slide-o {
  100% {
    right: -100rem;
  }
}
