//colors
$brand-1: #e32227;
$brand-1-l: #ed7275;

$brand-2: #2aa82a;
$brand-2-l: #9ed79e;
$brand-2-vl: #d2ecd2;

// $color-1: #fafafa; //background
// $color-2: #011627; //font
$color-3: #252525;
$color-4: #050505;

$color-1: #fafafa;
$color-2: #161616;

//fonts
$font: "Roboto", sans-serif;

$radius: 0.5rem;

//flex

$r: row;
$rr: row-reverse;
$c: column;
$cr: column-reverse;
