//colors

$green: #2aa82a;
$lgreen: #9ed79e;
$vlgreen: #d2ecd2;
$red: #e32227;
$lred: #ed7275;
$white: #fafafa;
$dblue: #011627;
$grey: #364652;
$black: #050505;

//fonts
$font: "Source Sans Pro", sans-serif;

$radius: 0.5rem;

//flex

$r: row;
$rr: row-reverse;
$c: column;
$cr: column-reverse;
