/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
}

/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  line-height: 1.5;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}
@media (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.8rem;
}
@media (min-width: 480px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.6rem;
}
@media (min-width: 480px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;
}
@media (min-width: 480px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

small {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

/*Align text*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

a:any-link {
  text-decoration: none;
}

[class*=flex] {
  display: flex;
}

.flex-ji-center {
  justify-items: center;
}

.flex-jc-center {
  justify-content: center;
}

.flex-ai-center {
  align-items: center;
}

.flex-ac-center {
  align-content: center;
}

.flex-ji-start {
  justify-items: start;
}

.flex-jc-start {
  justify-content: start;
}

.flex-ai-start {
  align-items: start;
}

.flex-ac-start {
  align-content: start;
}

.flex-ji-end {
  justify-items: end;
}

.flex-jc-end {
  justify-content: end;
}

.flex-ai-end {
  align-items: end;
}

.flex-ac-end {
  align-content: end;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-se {
  justify-content: space-evenly;
}

.flex-col {
  flex-direction: column;
}

.flex-col-r {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-r {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

[class*=grid-] {
  display: grid;
  grid-gap: 15px;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

/* Center child*/
.center-child {
  display: grid;
  place-items: center;
}

body {
  background-color: #fafafa;
  color: #161616;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* @media (min-width: 480px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 17px;
  }
} */
small {
  font-weight: 300;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

/* utility */
/* .wrapper > * {
  padding-right: 10rem;
  padding-left: 10rem;
} */
.container {
  padding: 2rem 0;
  max-width: 80%;
  margin: auto;
}

/* header */
.header {
  color: #161616;
  position: relative;
  font-weight: 700;
}
@media (max-width: 480px) {
  .header .container {
    padding-bottom: 0.2rem;
  }
}

.logo {
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 7rem;
  height: auto;
}

.nav {
  justify-content: space-between;
  align-items: center;
  /* font-weight: 700; */
}

.nav li {
  text-transform: uppercase;
}

.nav li:hover {
  cursor: pointer;
}

.toggle {
  display: none;
}

.menu > li i {
  padding: 0 0.5rem;
  transition: all 0.2s 0.1s;
}

input {
  display: none;
}

@media (max-width: 980px) {
  .header {
    width: 100%;
  }

  .menu-icon {
    font-size: 1.4rem;
    color: #161616;
    font-weight: 300;
  }

  .menu-icon-close {
    padding-top: 2rem;
    padding-left: 2rem;
    color: #fafafa;
    margin-bottom: 1rem;
  }

  .menu {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /* flex: 1 1 100%; */
    color: #fafafa;
    display: none;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: #161616;
    /* height: 0;
    overflow: hidden; */
    right: -10rem;
    animation: slide-o 0.5s forwards;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
  }
}
@media (max-width: 980px) and (max-width: 480px) {
  .menu {
    max-width: 15rem;
  }
}
@media (max-width: 980px) {
  .toggle:checked ~ .menu {
    display: flex;
    transition: all 0.2s ease-in-out;
    animation: slide 0.5s forwards;
  }
}
@media (max-width: 980px) {
  .menu > li {
    /* color: ($color-3); */
  }
  .menu > li .sub-menu {
    /* padding-left: 1rem; */
    display: none;
    width: 100%;
    background-color: #252525;
  }
  .menu > li span {
    padding: 1rem 0;
  }
  .menu > li label {
    display: block;
    width: 100%;
    font: inherit;
    color: inherit;
    padding: 1rem;
    border-top: 2px solid #252525;
    border-bottom: 2px solid #252525;
  }
  .menu > li input:checked ~ .sub-menu {
    display: flex;
    transition: all 0.2s ease-in-out;
  }
  .menu > li input:checked ~ label i {
    transform: rotate(180deg);
  }
}
@media (max-width: 980px) {
  .menu li {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .sub-menu > li {
    padding: 1rem;
    border-top: 2px solid #161616;
    border-bottom: 2px solid #161616;
  }
}
@media (min-width: 980px) {
  .menu-icon {
    display: none;
  }

  .menu {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .menu > li {
    margin-right: 1rem;
    padding: 0.5rem;
  }
  .menu > li label {
    display: block;
  }

  .nav li:last-child {
    margin-right: 0;
  }

  .menu {
    position: relative;
  }

  .sub-menu {
    visibility: hidden;
    overflow: hidden;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    display: flex;
    width: fit-content;
    /* padding: 1rem; */
    background-color: #161616;
    z-index: 100;
    color: #fafafa;
    top: 3rem;
    /* border-radius: 2rem; */
    transition: all 0.2s 0.1s;
  }

  .sub-menu li {
    /* margin-bottom: 1rem; */
    padding: 1rem;
  }

  .sub-menu li:hover {
    background-color: #fafafa;
    color: #161616;
    transition: all 0.2s ease-in-out;
    /* border-bottom: 1px solid ($color-2); */
  }

  .menu > li:hover .sub-menu {
    visibility: visible;
    transition: 0s;
  }

  .menu > li:hover {
    border-radius: 0.5rem;
  }
  .menu > li:hover i {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}
@keyframes slide {
  100% {
    right: 0;
  }
}
@-webkit-keyframes slide-o {
  100% {
    right: -100rem;
  }
}
@keyframes slide-o {
  100% {
    right: -100rem;
  }
}
/* banner */
@media (min-width: 980px) {
  .banner {
    padding-bottom: 3rem;
  }
}

.banner .container h4 {
  font-weight: 300;
}
@media (max-width: 480px) {
  .banner .container {
    padding: 1rem 0;
    max-width: 100%;
  }
}
@media (max-width: 980px) {
  .banner .container > * {
    margin-bottom: 2rem;
  }
}
@media (max-width: 980px) and (min-width: 480px) {
  .banner .container > * {
    margin-bottom: 4rem;
  }
}
@media (min-width: 980px) {
  .banner .container {
    flex-direction: row;
  }
}

.banner .container > * {
  width: 100%;
}

.intro {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
}
.intro > * {
  margin-bottom: 1rem;
}
@media (min-width: 480px) {
  .intro > * {
    margin-bottom: 2rem;
  }
}
.intro > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 980px) {
  .intro {
    text-align: left;
    padding-right: 3rem;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .app-links {
    max-width: 60%;
    align-self: center;
  }
}
.app-links > * {
  margin-bottom: 1rem;
}
@media (min-width: 480px) {
  .app-links > * {
    margin-bottom: 2rem;
  }
}
@media (min-width: 737px) {
  .app-links {
    flex-direction: row;
    justify-content: start;
  }
}

@media (min-width: 480px) {
  .app-links > * {
    margin-right: 2rem;
  }
}

.btn-appstore {
  height: auto;
  color: #fafafa;
  transition: transform 0.25s ease-in-out;
}
.btn-appstore img {
  width: 100%;
}
@media (max-width: 480px) {
  .btn-appstore {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .btn-appstore {
    max-width: 10rem;
    justify-items: center;
  }
}

.mobile-container {
  justify-content: center;
}

.mobile {
  max-width: 12rem;
}
@media (min-width: 980px) {
  .mobile {
    max-width: 15rem;
  }
}

.mobile img {
  width: 100%;
  filter: drop-shadow(1rem 1rem 2rem #252525);
}
@media (min-width: 980px) {
  .mobile img {
    filter: drop-shadow(2rem 2rem 2rem #252525);
  }
}

@media (min-width: 980px) {
  .banner .container > * {
    width: 50%;
  }
}
.footer {
  background-color: #161616;
  color: #fafafa;
}
.footer .footer-logo img {
  width: 9rem;
  height: auto;
}

.footer .container > * {
  margin-bottom: 1rem;
}
@media (min-width: 480px) {
  .footer .container > * {
    margin-bottom: 2rem;
  }
}
.footer .container > *:last-child {
  margin-bottom: 0;
}

.social > * {
  margin-right: 1rem;
}

.social > *:last-child {
  margin-right: 0;
}

.s-icon {
  font-size: 1rem;
  color: #161616 !important;
  background-color: #fafafa;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.s-icon:hover {
  color: #fafafa !important;
  background-color: #e32227;
  border: 2px solid #e32227;
}

.contact {
  width: 100%;
}
.contact > * {
  margin-bottom: 1rem;
}
@media (min-width: 480px) {
  .contact > * {
    margin-bottom: 2rem;
  }
}
.contact > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 980px) {
  .contact {
    width: 33%;
    border-right: 1px solid #fafafa;
  }
}

.footer-list {
  text-align: center;
  width: 50%;
  justify-content: start;
}
@media (min-width: 980px) {
  .footer-list {
    width: 33%;
  }
}
.footer-list li {
  padding: 5px;
  border-radius: 0.5rem;
}
.footer-list li:hover {
  font-weight: 700;
  background-color: #e32227;
}

.footer-list:nth-of-type(2) {
  border-right: 1px solid #fafafa;
}

.cprt {
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.cprt small {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
